/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10%;
}

@media print {
  footer {page-break-after: always;}
}


* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

/* Style the header links */
.header a {
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-weight: bold;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
  font-size: 20px;
  font-weight: bold;
 }

/* Float the link section to the right */
.header-right {
  float: right;
  padding-top: 2.5%;
}

.header-right a:hover {
    background: #404040;
    color: white;
}

.logo-image {
    max-height: 70px;
}

body {
    background-color: white;
    margin-inline: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.5;
}

.page-container {
    position: relative;
    margin-inline: auto;
    min-height: calc(100% - 50px);
    padding-bottom: 50px;
}

.main-image {
  style=width: 300px;
  height: 350px;
  object-fit: cover;
}

.intro-text {
    padding: 10px 15%;
    font-size:20px;
    color: black;
}

.research-box {
  display: inline-block;
}

.people-box {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
  padding-top: 20px;
}

.people-image {
  max-width: 300px;
  max-height: 300px;
}

.people-description {
    padding-left: 20px;
}

.footer {
  position: relative;
  bottom: 5px;
  width: 100%;
  padding: 10px 0;
}

.footer-text {
  font-size:small;
  color: gray;
  float: right;
  padding-right: 20px;
}

.home_image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin:auto;
}

.centered {
  /*position: absolute;
  top: 28%;
  left: 14%;
  */
  text-align: center;
  color: white;
  padding-top: 150px;
  text-position: center;
  /*border-width:3px;
  margin-right: 10px;
  border-style:solid;
  border-color:white;
  background-color: rgba(0, 255, 255, 0.2);
  */
}

.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    padding: 1% 15%;
}

h1 {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
    font-size: 1em;
}

.no_underline {
  text-decoration: none;
}

.research_img {
    max-height: 400px;
    object-fit: cover;
    margin-left: 30px;
    margin-bottom: 20px;
}